{% extends 'base.html.twig' %} {% block title %}Modifier mon mot de passe - MyEcommerce{%
endblock %} {% block content %}
<h1>Modifier mon mot de passe</h1>

<p>
  <a href="{{ path('account') }}">Retourner dans mon espace</a>
</p>
{% if notification %}
<div class="alert alert-info">
    {{ notification }}
</div>
{% endif %}
{{ form(form) }}
{% endblock %}
